  {% extends "base-2.html" %}
  {% load staticfiles %}

  {% block main %}

  <section class="module-small" id="services">
    <div class="container">
      <div class="row multi-columns-row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="features-item">
            <div class="features-icon"><span class="icon-streetsign"></span></div>
            <h3 class="features-title font-alt">Adres</h3>
            <p>
              İncek Mahallesi, Bağlar Caddesi<br/>
              No: 22, 06830<br/>
              Gölbaşı - Ankara
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="features-item">
            <div class="features-icon"><span class="icon-phone"></span></div>
            <h3 class="features-title font-alt">Telefon Numarası</h3>
            <p>
              +90 (533) 021 23 64
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="features-item">
            <div class="features-icon"><span class="icon-envelope"></span></div>
            <h3 class="features-title font-alt">Email</h3>
            <p>
              <a href="mailto:angorpeyzajincek@gmail.com?Subject=İletişim%20Maili" target="_top">
                angorapeyzajincek@gmail.com</a><br/>
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="features-item">
            <div class="features-icon"><span class="icon-clock"></span></div>
            <h3 class="features-title font-alt">Çalışma Saatleri</h3>
            <p>
              Haftanın Her Günü<br/>
              8:00 - 20:00
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="map-section">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3064.542890960431!2d32.708568315449064!3d39.81724417943939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d33f83b40cdc11%3A0xb17975033e97336a!2sANGORA+PEYZAJ+M%C4%B0MARLIK!5e0!3m2!1sen!2str!4v1499948499160" width=100% height=100%  frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
  {% endblock %}
