{% extends "base-2.html" %}
{% load staticfiles %}

{% block main %}
<section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 mb-sm-40">
                <div class="col-sm-6 col-md-12 col-lg-12">
                  <div class="gallery-item">
                    <div class="gallery-image"><a class="gallery" href="{{project.photo1|editLink}}" title="{{project.title}}">
                      <img src="{{project.photo1|editLink}}"/>
                        <div class="gallery-caption">
                          <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                        </div></a></div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                  <div class="gallery-item">
                    <div class="gallery-image"><a class="gallery" href="{{project.photo2|editLink}}" title="{{project.title}}">
                      <img src="{{project.photo2|editLink}}"/>
                        <div class="gallery-caption">
                          <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                        </div></a></div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                  <div class="gallery-item">
                    <div class="gallery-image"><a class="gallery" href="{{project.photo3|editLink}}" title="{{project.title}}">
                      <img src="{{project.photo3|editLink}}"/>
                        <div class="gallery-caption">
                          <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                        </div></a></div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                  <div class="gallery-item">
                    <div class="gallery-image"><a class="gallery" href="{{project.photo4|editLink}}" title="{{project.title}}">
                      <img src="{{project.photo4|editLink}}"/>
                        <div class="gallery-caption">
                          <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                        </div></a></div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                  <div class="gallery-item">
                    <div class="gallery-image"><a class="gallery" href="{{project.photo5|editLink}}" title="{{project.title}}">
                      <img src="{{project.photo5|editLink}}"/>
                        <div class="gallery-caption">
                          <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                        </div></a></div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <h1 class="product-title font-alt">{{project.title}}</h1>
                  </div>
                </div>
                <div class="row mb-20">
                  <div class="col-sm-12">
                    {{project.createdDate|editDate}} | {% for tag in project.tags.all %}{{tag.name}} {% endfor %}
                  </div>
                </div>
                <hr class="divider-w">
                <div class="row mb-20">
                  <div class="col-sm-12">
                    <div class="description">
                      <p>{{project.body|linebreaks}}</p>
                    </div>
                    <div class="post-more"><a class="more-link" href="/projects">Tüm Projeler</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr class="divider-w">
        <section class="module-small">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">En Son Projeler</h2>
              </div>
            </div>
            <div class="row multi-columns-row">

              {% for aProject in projects %}
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="post">
                  <div class="post-thumbnail"><a href="/project/{{aProject.pk}}"><img src="{{aProject.photo1|editLink}}" alt="Blog-post Thumbnail"/></a></div>
                    <div class="post-header font-alt">
                      <h2 class="post-title"><a href="/project/{{aProject.pk}}">{{aProject.title}}</a></h2>
                      <div class="post-meta">{{aProject.createdDate|editDate}} | {% for tag in aProject.tags.all %}{{tag.name}} {% endfor %}
                      </div>
                    </div>
                    <div class="post-entry">
                      <p>{{aProject.description}}</p>
                    </div>
                </div>
              </div>
              {% endfor %}

            </div>
          </div>
        </section>
{% endblock %}
